<% if @resp.success? %>
  <h2>Success!</h2>
  <pre>
    {
      id: <%= @resp.parsed_response['id'] %>,
      amount: <%= @resp.parsed_response['amount'] %>,
      payee: <%= @resp.parsed_response['payee'] %>,
      date: <%= @resp.parsed_response['date'] %>

    }
  </pre>
<% else %>
  <h2>Sorry, something went wrong.</h2>
  <pre>
    <%= @resp.parsed_response.inspect %>
  </pre>
<% end %>

<p><a href="/" class="button button-primary">Go Back</a></p>